:root {
  --basic-black: #000000;
  --basic-black-brown: #231f20;
  --dark-blue-black: #444444;
  --basic-tarp-gray: #4d4d4d;
  --basic-dull-gray: #666666;
  --basic-gray: #888888;
  --gray-beard: #d7dcde;
  --smoky-white: #f1f1f1;
  --light-gray-white: #cfcfcf;
  --light-gray-special: #e1e1e1;
  --basic-gray-light: #d5d5d5;
  --gray-light-transparent: #dfdfdf;
  --basic-dark-white: #eeeeee;
  --white-gray-neutral: #a6a6a6;
  --silver-light: #b4b9bb;
  --silver-blue: #c1c1c1;
  --basic-gray-dark: #283136;
  --basic-yellow-dark: #e5a722;
  --yellow-medium: #efc84a;
  --yellow-dark-saffron: #eab534;
  --basic-white: #ffffff;
  --basic-tomato-dark: #fb565a;
  --strawberry-red-light: #d7373b;
  --basic-red-pink: #e74246;
  --basic-grenn-light: #00ca74;
  --basic-nephritis-green: #00aa62;
  --nephritis-green-light: #00bc6c;
}

.body {
  margin: 0;
  font-family: Roboto,  Arial,  sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo img {
  color: var(--basic-black);
  position: absolute;
  left: 50px;
  top: 30px;
}

.logo img:hover,
.logo img:focus {
  opacity: 0.3;
  color: var(--basic-black);
}

.basket {
  position: relative;
  padding-left: 26px;
  padding-top: 5px;
  margin-left: 21px;
  max-width: 110px;
  height: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-bottom:  15px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -5px;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.basket:hover {
  color: var(--basic-tomato-dark);
}

.basket:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.basket:active {
  color: var(--basic-black);
}

.service-advertising span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service-advertising p {
  font-style: normal;
  color: var(--basic-gray-dark);
}

.service-advertising .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 3px;
}

.button-red {
 background-color: var(--basic-tomato-dark);
}

.button-green {
  background-color: var(--basic-grenn-light);
}

.button-yellow {
  background-color: var(--yellow-medium);
}

.button-red:hover {
  color:  var(--basic-red-pink);
}

.button-red:focus {
  color: var(--strawberry-red-light);
  box-shadow: inset 0px 3px 0px;
}

.button-green:hover {
  background-color: var(--nephritis-green-light);
}

.button-green:focus {
  background-color: var(--basic-nephritis-green);
  box-shadow: inset 0px 3px 0px;
}

.button-yellow:hover {
 background-color: var(--yellow-dark-saffron);
}

.button-yellow:focus {
 background-color:  var(--basic-yellow-dark);
  box-shadow: inset 0px 3px 0px;
}

.social {
  padding: 0;
  margin:70px ;
  display: flex;
  list-style: none;
}

.container-footer {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
  min-height: 100px;
  display: flex;
}

.social-item {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--light-gray-special);
 width: 80px;
 height: 80px;
 border-radius: 50%;
 margin-right: 10px;
}

.social-item:hover {
  background-color: var(--basic-red-pink);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.connect-friend .lets-friend {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 5px;
  color: var(--basic-black);
  margin-bottom: 10px;
  margin-top: 75px;
  padding: 0px;
}

.connect-friend .discount {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-blue-black);
  margin-bottom: 74px;
}

.main-title {
  width: 745px;
  margin: 0 auto;
  height: 55px;
  padding-bottom: 108px;
  padding-top: 100px;
  font-style: normal;
  font-size: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
  color: var(--basic-black);
}

.menunav {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.menu ul {
  list-style: none;
}

.filter-input-radio +label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -1px;
  width: 25px;
  height: 25px;
  border: 2px solid var(--basic-tarp-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -34px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-tarp-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label:hover::before{
  border-color: var(--basic-tarp-gray);
 }

.filter-input-radio:checked + label:hover::after{
  border-color: var(--basic-tarp-gray);
 }

.filter-option label {
  position: relative;
  display: block;
}

.filter-option {
 position: relative;
 margin: 15px;
}

.filter-input-checkbox:checked + label::after {
content: "";
width: 25px;
height: 22px;
position: absolute;
left: -43px;
top: 0px;
background-image: url("../img/svg-nerds/checkbox-on.svg");
background-repeat: no-repeat;
background-size: contain;
opacity: 0.4;
}

.filter-input-checkbox + label:hover {
  border-color: var(--basic-tarp-gray);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 2px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-tarp-gray);
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid var(--basic-tarp-gray);
  opacity: 0.4;
}

.menu {
  margin: 0;
  padding: 0;
  border: 0;
}

.menu label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-gray-dark)
}

.menu .button {
  width: 260px;
  height: 50px;
  background-color: var(--basic-dark-white);
  border-radius: 3px;
}

.menu .button:hover {
  background-color: var(--gray-light-transparent);
}

.menu .button:focus {
  background-color: var(--basic-gray-light);
  box-shadow: inset 0 3px 0;
}

.catalog-cards h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-cards h3:hover {
  color: var(--basic-tomato-dark);
}

.catalog-cards h3:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-cards p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dull-gray);
}

.catalog-cards span {
  width: 200px;
  height: 50px;
  background-color: var(--basic-tomato-dark);
  border-radius: 3px;
}

.catalog-cards span:hover {
  background-color: var(--basic-red-pink);
}

.catalog-cards span:focus {
  background-color: var(--strawberry-red-light);
  box-shadow: inset 0px 3px 0px;
}

.sort {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: var(--basic-black);
}

.select {
  display: flex;
  justify-content: space-around;
}

.sorting {
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}

.sorting-item {
  margin-right: 25px;
}

.sorting-item a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-item a:hover {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-item a:focus {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting-item a:active {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting-arrows {
  display: flex;
  align-items: center;
  margin: 0;
}

.sorting-arrows .arrow-down,
.sorting-arrows .arrow-up {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0 18px 0 0;
  border-style: solid;
  border-width: 10px 5.5px 0;
  border-color: var(--basic-black-brown) transparent transparent;

}

.sorting-arrows .arrow-down:active {
  border-color:  var(--basic-black-brown) transparent transparent;
  opacity: 1;

}

.sorting-arrows .arrow-down {
  border-color: var(--basic-black-brown) transparent transparent;
  opacity: 0.2;
}

.sorting-arrows .arrow-down:hover {
  border-color:  var(--white-gray-neutral) transparent transparent;
}

.sorting-arrows .arrow-up {
  margin: 0;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent var(--basic-black-brown);
  opacity: 0.2;

}

.sorting-arrows .arrow-up:hover {
  margin: 0;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent var(--white-gray-neutral);
  opacity: 1;
}

.sorting-arrows .arrow-up:active {
  margin: 0;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent var(--basic-black-brown);
}

.header-wrapper {
  padding-top: 55px;
  background-color: var(--basic-dark-white);
  position: relative;
}

.header {
  width: 1160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.main-navigation__item {
    margin-right: 46px;
}

.main-navigation .active{
    border-bottom: 2px solid var(--basic-tomato-dark);
    padding-bottom: 8px;
}

.main-navigation a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  max-width: 460px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a:hover {
  color: var(--basic-tomato-dark);
}

.main-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation a:active {
  color: var(--basic-black);
}

.service-advertising {
  width: 1120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 80px auto 0;
}

.service-advertising div{
  padding: 0  50px;
}

.connect-friend {
  display: block;
  padding-left: 70px;
}

.main-footer {
  width: 1080px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.main {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards-item {
 position: relative;
 width: 360px;
 margin-bottom: 26px;
}

.cards-item .details {
 width: 360px;
 min-height: 230px;
 text-align: center;
 padding-top: 26px ;
 background-color: var(--basic-dark-white);
 position: absolute;
 bottom: 0px;
}

.cards-item .details {
  display: none;
}

.cards-item:hover .details {
  display: block;
}

.cards-item img {
  margin-top: -6px;
}

.cards-item path {
  fill: var(--basic-tarp-gray);
  opacity: 0.3;
}

.cards-item:hover path {
  fill: var(--basic-tarp-gray);
}

.cards {
  margin-bottom: 55px;
  margin-top: 25px;
}

.details h3 {
  margin-top: 0px;
  margin-bottom: -1px;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.details h3:hover {
 color: var(--basic-tomato-dark);
}

.details h3:focus {
  color: var(--basic-black);
  opacity: 0.3;
  mix-blend-mode: normal;
 }

.details p {
  padding: 0 78px;
  margin-bottom: 43px;
  line-height: 18px;
  color: var(--basic-dull-gray);
}

:nth-child(2).details .p {
  padding: 0 54px;
}

.details span {
  background-color: var(--basic-tomato-dark);
  border: 1px solid  var(--basic-tomato-dark);
  border-radius: 3px;
  color: var(--basic-white);
  line-height: 18px;
  padding: 13px 61px;
  cursor: pointer;
}

.details span:hover {
  background-color: var(--strawberry-red-light);
  border-radius: 3px;
}

.details span:focus {
  background-color: var(--basic-red-pink);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-form button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-dark-white);
  border-radius: 3px;
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
}

.filter-form button:hover {
  background-color: var(--gray-light-transparent);
}

.filter-form button:focus {
  background-color: var(--basic-gray-light);
  box-shadow: inset 0px 3px 0 rgba (0, 1, 1, 0.1) ;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--smoky-white);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--gray-beard);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-grenn-light);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--white-gray-neutral);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--light-gray-white);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-gray-dark);
  border: none;
  border-radius: 5px;
  background: var(--smoky-white);
  font-family: inherit;
  font-size: inherit;
}

.filter-option label:hover::before{
 opacity: 1;
}

.connect {
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 960px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba( 0, 0, 0, 0.4);
}

.modal-hidden {
  display: none;
}

.appointment-form  {
 display: flex;
 justify-content: space-between;
 width: 820px;
 margin: 40px auto;
}

.modal-show {
  display: flex;
  animation: bounce 0.6s;
}

.form-acting input {
  width: 360px;
  height: 50px;
  border: 2px solid var(--gray-beard);
  box-sizing: border-box;
  border-radius: 3px;
}

.form-acting input:hover{
  border: 2px solid var(--silver-light);
  box-sizing: border-box;
  border-radius: 3px;
}

.form-acting input:focus {
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  border-radius: 3px;
}

.form-acting input:invalid {
  border: 2px solid var(--basic-red-pink);
  box-sizing: border-box;
  border-radius: 3px;
}

.form-acting textarea {
  width: 760px;
  height: 125px;
  border: 2px solid var(--gray-beard);
}

.text-letter {
  display: flex;
  flex-direction: column;
}

.connect .button {
 width: 260px;
 height: 50px;
 background-color: var(--basic-tomato-dark);
 border-radius: 3px;
 margin: 40px auto;
 color: var(--basic-white);
 text-transform: uppercase;
 border: none;
}

.connect h2 {
 font-weight: bold;
 font-size: 45px;
 line-height: 53px;
}

.connect .button:focus {
 background-color: var(--strawberry-red-light);
 box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.connect .button:hover {
 background-color: var(--basic-red-pink);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 50px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-tomato-dark);
  opacity: 0.3;
}

 .modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.form-acting {
  position: relative;
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: var(--basic-tomato-dark);
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

.modal-error {
  border-color: var(--basic-tomato-dark)!important;
}

.form-acting label {
  font-weight: bold;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
}

.text-us {
  display: flex;
  flex-wrap: wrap;
  width: 219px;
  height: 50px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  border-radius: 3px;
  background-color: var(--basic-tomato-dark);
  color: var(--basic-white);
  margin-bottom: 62px;
}

.map iframe {
  width: 100%;
  height: 420px;
}

.wrapper-map {
  width: 1250px;
  margin:  0 auto;
  position: relative;
  margin-top: 80px;
}

.marker {
  position: absolute;
  right: 450px;
  top: 80px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 319px;
  height: 308px;
  position: absolute;
  bottom: 50px;
  left: 80px;
  background-color: var(--basic-white);
  justify-content: center;
  align-items: center;
}

.contacts .adress {
  letter-spacing: 0.1px;
  line-height: 18px;
  color: var(--basic-dull-gray) ;
  font-size: 18px;
  font-weight: normal;
}

.contacts-wrapper {
 position: absolute;
}

.contacts .contacts-item {
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  padding-top: 50px;
  padding-top: 20px;
}

.slider {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.slider-item {
  width: 100%;
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
  transition: left 0.3s ease;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 100px;
  z-index: 10;
  width: 88px;
  height: 18px;
  text-align: center;
  margin-left: -100px;
}

.slider-controls label {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 3px;
  vertical-align: top;
  background: var(--basic-white);
  border: 5px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
}

.second-title{
  font-weight: 500;
  font-size: 36px;
  align-items: center;
  font-size: 55px;
  line-height: 55px;
  margin-top: 80px;
  color: var(--basic-black);
}

.slider-item p {
  font-weight: normal;
  line-height: 24px;
}

.slider-item .button {
  display: block;
  width: 240px;
  margin-top: 80px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-tomato-dark);
  border-radius: 3px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1\ 1.png");
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2 1.png");
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3\ 1.png");
}

.slider-item {
  display: none;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  background: var(--silver-blue)
}

.about-us .container {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 75px;
  border-bottom: 2px solid var(--basic-dark-white);
  margin: 0 auto;
}

.description {
  width: 660px;
}

.about-us {
  display: block;
}

.description h2 {
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.description h3 {
  margin-top: 40px;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-list {
    margin: 0;
    padding: 0 0 0 35px;
    list-style: none;
}

.description-item {
  margin-bottom: 24px;
  position: relative;
}

.description-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-tomato-dark);
  position: absolute;
  left: -34px;
  top: 12px;
}

.statistics {
  width: 360px;
  margin-left: auto;
}

.members {
  width: 1160px;
  margin: 0 auto;
}

.statistics b {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.statistics .percentages {
  letter-spacing: -2.5px;
  font-size: 48px;
  font-weight: 700;
  line-height: 10px;
  padding: 6px 21px 34px 0;
}

.members .container {
  padding: 60px 0 20px;
  border-bottom: 2px solid var(--basic-dark-white);
}

.members .members-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.members-item {
  position: relative;
}

.members-item a {
  opacity: 0.9;
  filter: brightness(1);
}

.members-item a:hover {
  opacity: 0.2;
}

.members-item::after {
  content: "";
  width: 2px;
  height: 50px;
  background-color: var(--basic-dark-white);
  position: absolute;
  top: 0px;
  left: 250px;
}

.pagination-list {
  display: flex;
  margin-top: 44px;
  list-style: none;
  margin: 0;
  padding: 0;
}

:not(:last-child).pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  padding: 12px 18px;
  background-color: var(--basic-dark-white);
  border: 3px solid var(--basic-dark-white);
  color: var(--basic-black);
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
}

.pagination-item .active {
  background-color: var(--basic-white);
}

.pagination {
  margin-left: 40px;
}

.pagination-item a:hover {
  padding: 12px 18px;
  background-color: var(--gray-light-transparent);
  color: var(--basic-black);
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
}

.pagination-item a:focus {
  padding: 12px 18px;
  background-color: var(--basic-gray-light);
  color: var(--basic-black);
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item a:active {
  padding: 12px 18px;
  color: var(--basic-black);
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  background-color:  rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--white-gray-neutral);
  box-sizing: border-box;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

































